@font-face {
    font-family: 'godoMaum';
    src: url('godoMaum.eot');
    src: url('godoMaum.eot?#iefix') format('embedded-opentype'),
        url('godoMaum.woff') format('woff'),
        url('godoMaum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

